<div class="container">
    <h2 align="center"> 401 NOT PERMITTED </h2>

    <div class="row" align="center">
        <div class="rounded mx-auto d-block">
            <img class="center-block" height="600" src="../error.jpg"/>
        </div>
    </div>

</div>