<div class="container">
    <h2 align="center"> 403 NOT PERMITTED </h2>

    <div class="row" align="center">
        <div class="rounded mx-auto d-block">
            <img class="center-block" align="center" width="400" height="600" src="../forbidden.png"/>
        </div>
    </div>

</div>