<div class="container">
    <h2 align="center"> 404 NOT FOUND </h2>

    <div class="row" align="center">
        <div class="rounded mx-auto d-block">
            <img class="center-block" align="center" src="../error.jpg"/>
        </div>
    </div>

</div>