<% include __header.ejs %>
<% include admin_menu.ejs %>

<div style="margin:10px;">
    <div class="btn-group" role="group" style="margin: 10px">
        <a href="/admin/add_pokemon"><button type="button" class="btn btn-primary">Add new specie</button></a>
    </div>

    <div class="container"  style="padding: 10px;">
        <div class="row">
            <div class="col-xs-6 col-md-5">
                <h4>Name</h4>
            </div>

            <div class="col-xs-6 col-md-5">
                <h4>Photo</h4>
            </div>

    </div>
</div>

<div style="padding: 10px;" class="container">
    <% if (pokemonsList.length) { %>
        <% pokemonsList.forEach(function(pokemon) { %>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-6 col-md-5">
                    <h5><%- pokemon.name %></h5>
                </div>

                <div class="col-xs-6 col-md-5">
                    <img src="<%- pokemon.photo %>" height="100" width="100"></img>
                </div>

                <div class="col-xs-6 col-md-2">
                    <a href="/admin/edit_pokemon/<%=pokemon._id%>?method=DELETE"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        <% }) %>
    <% } else { %>
    No species!
    <% } %>
</div>
</div>

<% include __footer.ejs %>