<% include __header.ejs%>

<h1>Add new pokemon's specie</h1>

<div>

    <img action="" method="post" style='width:40%;'>

        <input name="name" type="text" maxlength="25" class="form-control" value="error" required autofocus style='margin-bottom: 10px;'>

        <img class="middle media-object" src="../error.jpg"/>

        <input type="file" id="photo" style="margin-bottom: 10px;">

        <input type="submit" value="Save" class="btn btn-primary btn-block">

    </form>

</div>
<% include __footer %>