<% include __header.ejs%>


<% include admin_menu.ejs %>


<div class="btn-group" role="group" style="margin: 2%">

    <button type="button" class="btn btn-default">Add new</button>
    <button type="button" class="btn btn-default">Delete</button>

</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            Nazwa
        </div>

        <div class="col-xs-6 col-md-6">
            Photo
        </div>
    </div>
</div>

<% pokemonsList.forEach(function(pokemon) { %>
<div class="row">
    <div class="col-xs-6 col-md-6">
        pokemon.name
    </div>

    <div class="col-xs-6 col-md-6">
        pokemon.photo
    </div>
</div>
<% }) %>

<% include __footer.ejs%>