<% include __header.ejs %>
<% include admin_menu.ejs %>

<div style="margin:10px;">
    <div class="btn-group" role="group" style="margin: 10px">
        <a href="/admin/add_pokemon"><button type="button" class="btn btn-primary">Add new specie</button></a>
    </div>

    <div class="container"  style="padding: 10px;">
        <div class="row">
            <div class="col-xs-6 col-md-5">
                Name
            </div>

            <div class="col-xs-6 col-md-5">
                Photo
            </div>

    </div>
</div>

<div style="padding: 10px;" class="container">
    <% if (pokemonsList.length) { %>
        <% pokemonsList.forEach(function(pokemon) { %>
            <div class="row">
                <div class="col-xs-6 col-md-5">
                    <%- pokemon.name %>
                </div>

                <div class="col-xs-6 col-md-5">
                    <%- pokemon.photo %>
                </div>

                <div class="col-xs-6 col-md-3">
                    <a href="/admin/edit_pokemon/<%-pokemon._id%>"><button type="button" class="btn btn-success">Edit</button></a>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        <% }) %>
    <% } else { %>
    No species!
    <% } %>
</div>
</div>

<% include __footer.ejs %>