<% include __header.ejs%>


<% if (currentUser) { %>
    <% if (currentUser.role == "admin") { %>
        <% include admin_menu.ejs%>
    <% } else { %>
        <% include user_menu.ejs%>
    <% }%>
<% }%>

<br>
<h4 style="margin: 10px">
    Welcome to the Pokemon Academy!
    This is the perfect place for your charges. We provide care, training and development for each of our clients.
</h4>

<br>
<h3 style="margin: 10px">
    <a href="/signup">Join us now!</a>
</h3>

<% include __footer.ejs%>