<ul class="nav nav-tabs">
    <% for(var title in nav)  { %>
    <% if (nav[title] == page) { %>
    <li class="active">
        <a href="<%- '/' +  currentUser.role + nav[title] %>"> <%- nav[title].split('/')[1] %></a>
    </li>
    <% } else { %>
    <li><a href="<%- '/' + currentUser.role + nav[title] %>"><%- nav[title].split('/')[1] %></a></li>
    <% } %>
    <% } %>
</ul>
