<% include __header.ejs%>
<% include admin_menu.ejs%>


<div style="margin:10px;">
    <div style="padding: 10px;">
        <h4> Choose which skill of your pokemon you would like to improve.</h4>
    </div>



    <div style="padding: 15px;">
        <h4> ha ha ha </h4>
        <p> </p><%= trainings %> </p>
    </div>
</div>

<% include __footer.ejs%>